<h1>Bienvenido a fizzbuzz</h1>
<label for="entrada">Ingrese un Numero</label>
<form method="post" action="/generar">
    <input type="text" id="entrada" name="numero_ingresado">
    <input type="submit" value="generar">
</form>
